html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
  }
 header,
 footer {
    height: 100px;
    background-color: rgb(255, 160, 122);
 }

.nav-container {
    display: flex;
    justify-content: space-between;
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 18px;
  }
  nav ul li a:hover {
    color: gold;
  }
 .header-text {
    margin-top: 30px;
    margin-left: 20px;
    color: #fff;
 }
 .section-head-text {
    margin-left: 25px;
 }
 section ol li {
    font-size: 18px;
    padding-top: 55px;
 }


.footer-media-block {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
  }
  
  .footer-media-block a {
    color: #fff;
    margin-right: 10px; 
    font-size: 30px;
  }
  .footer-media-block p {
    margin-left: 10px;
    font-size: 20px;
  }

  